{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'AboutUs/style.css' %}">
    <script src="{% static 'https://use.fontawesome.com/releases/v5.0.13/js/all.js' %}"
    integrity="{% static 'sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe' %}"
    crossorigin="anonymous"></script>
</head>


<body>
    <div class="ni highlightTextIn">
        <div class="docnestlogo">
            <a href="/app/home"><img src="{% static 'Home/dist/images/new-removebg-preview.png' %}" alt=""></a>
        </div>
        <div class="navbar">
            <!-- <a alt="HOME">Home</a> -->
            <a href="/app/home" alt="HOME">Home</a>
            <a href="/contact" alt="CONTACT">Contact</a>
            <a href="/app/login" alt="LOGIN">Login</a>

        </div>
    </div>
    <section class="about">
        <div class="About">
            About Us
        </div>
        <div class="aboutwrite">
            We're all about helping you work better and faster, so you can get on with the important things. With
            Docnest, you've got 10+ PDF tools to convert, compress, and much more...
        </div>
        <!-- <div class="learnmore">
             learn more
        </div> -->
        <div class="backgroundimage">
            <img src="{% static 'AboutUs/image/2751001.jpg' %}" alt="">
        </div>
    </section>
    <main>
        <section>
            <div class="members">
                <div class="mamberheading">
                    The Team
                </div>
                <div class="memberimages">
                    <img src="{% static 'AboutUS/image/Shivam.png' %}" class="Shivam" alt="Shivam Ardeshna">

                    <img src="{% static 'AboutUs/image/Vasu.png' %}" class="Vasu" alt="Vasu Bhut">

                    <img src="{% static 'AboutUs/image/Ronak.png' %}" class="Ronak" alt="Ronak Bhalgami">

                    <img src="{% static 'AboutUs/image/Darsh.png' %}" class="DarshA" alt="Darsh Aswani">
                </div>
                <br>
                <br>
                <div class="membarnames">

                    <span class="Shivamname">Shivam Ardeshna</span>
                    <span class="Vasuname">Vasu Bhut</span>
                    <span class="Ronakname">Ronak Bhalgami</span>
                    <span class="Darshname">Darsh Aswani</span>
                </div>
            </div>
        </section>
        <section>
            <div class="featureheading">
                Features
            </div>
            <div class="features">
                <div class="convertfrompdf">
                    <div class="convertfrompdfheading">
                        Convert form PDF
                    </div>

                    <div class="toword pdfto">
                        <!-- PDF to Word  -->
                        <img src="https://img.icons8.com/clouds/100/000000/pdf.png" id="pdficon">
                        <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-right-arrow-arrows-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-2.png"
                            id="arrowicon">
                        <img src="https://img.icons8.com/clouds/100/000000/microsoft-word-2019.png" id="pdficon">
                    </div>




                    <div class="pdfto toexcel">
                        <img src="https://img.icons8.com/clouds/100/000000/pdf.png" id="pdficon">
                        <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-right-arrow-arrows-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-2.png"
                            id="arrowicon">
                        <img src="https://img.icons8.com/clouds/100/000000/microsoft-excel-2019.png" id="pdficon">
                    </div>
                    <div class="pdfto toppt">
                        <img src="https://img.icons8.com/clouds/100/000000/pdf.png" id="pdficon">
                        <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-right-arrow-arrows-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-2.png"
                            id="arrowicon">
                        <img src="https://img.icons8.com/clouds/100/000000/microsoft-powerpoint-2019.png"
                            id="pdficon">
                    </div>
                    <div class="pdfto tojpg">
                        <img src="https://img.icons8.com/clouds/100/000000/pdf.png" id="pdficon">
                        <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-right-arrow-arrows-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-2.png"
                            id="arrowicon">
                        <img src="https://img.icons8.com/bubbles/100/000000/image.png" id="pdficon">
                    </div>
                </div>
                <div class="splitandmeargepdf">
                    <div class="splitandmeargeheading">
                        Split and Merge
                    </div>
                    <div class="editing split">
                        <img src="https://img.icons8.com/plasticine/100/000000/split-vertical.png" id="spliticon">
                    </div>
                    <div class="editing mearge">
                        <img src="https://img.icons8.com/plasticine/100/000000/merge-horizontal.png" id="mergeicon">
                    </div>
                </div>
                <div class="viewandeditpdf">
                    <div class="viweandeditheading">
                        View and Edit
                    </div>
                    <div class="rotate">
                        <img src="https://img.icons8.com/clouds/100/000000/auto-rotate-based-on-text.png"
                            id="rotateicon">
                    </div>
                    <div class="deletpage">
                        <img src="https://img.icons8.com/clouds/100/000000/trash.png" id="deleteicon">
                    </div>
                    <div class="edit">
                        <img src="https://img.icons8.com/clouds/100/000000/edit-file.png" id="editicon">
                    </div>
                </div>
                <div class="converttopdf">
                    <div class="converttopdfheading">
                        Convert to PDF
                    </div>
                    <div class="topdf wordto">
                        <img src="https://img.icons8.com/clouds/100/000000/microsoft-word-2019.png" id="pdficon">
                        <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-right-arrow-arrows-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-2.png"
                            id="arrowicon">
                        <img src="https://img.icons8.com/clouds/100/000000/pdf.pn" id="pdficon">

                    </div>
                    <div class="topdf excelto">
                        <img src="https://img.icons8.com/clouds/100/000000/microsoft-excel-2019.png" id="pdficon"> <img
                            src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-right-arrow-arrows-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-2.png"
                            id="arrowicon">
                        <img src="https://img.icons8.com/clouds/100/000000/pdf.png" id="pdficon">


                    </div>
                    <div class="topdf pptto">
                        <img src="https://img.icons8.com/clouds/100/000000/microsoft-powerpoint-2019.png" id="pdficon">
                        <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-right-arrow-arrows-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-2.png"
                            id="arrowicon">
                        <img src="https://img.icons8.com/clouds/100/000000/pdf.png" id="pdficon">
                    </div>
                    <div class="topdf jpgto">
                        <img src="https://img.icons8.com/bubbles/100/000000/image.png" id="pdficon"> <img
                            src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-right-arrow-arrows-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-2.png"
                            id="arrowicon">
                        <img src="https://img.icons8.com/clouds/100/000000/pdf.png" id="pdficon">
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="hover">
            <div >
                <div class="wordtohover">
                    Covert Word Document to PDF Document
                </div>
                <div class="exceltohover">
                    Convert Excel Spreadsheet to PDF Document
                </div>
                <div class="ppttohover">
                    Convert PowerPoint Presentation to PDF Document
                </div>
                <div class="jpgtohover">
                    Convert Transform JPG,PNG images to PDF Document
                </div>

                <div class="towordhover">
                    Covert PDF Document to Word Document  
                </div>
                <div class="toexcelhover">
                    Convert PDF Documentto Excel Spreadsheet  
                </div>
                <div class="toppthover">
                    Convert PDF Document to PowerPoint Presentation
                </div>
                <div class="tojpghover">
                    Extract Images form Your PDF or save each images as  saprate images
                </div>
        </section> -->
        <section>
            <div class="comingsoon">
                <div class="">
                  <div class="">
                    <h1 class="comingsoonheader">Comming soon! </h1>
                    <p class="comingsoonpar">
                        This features will be added next time around!.
                        <br>
                        <br>
                               <p class="feature">1. Compression of PDF</p><br>
                                <p class="feature">2. Speak out loud PDF</p>
                        </p>
                  </div>
                  <div class="comingsoonimg"><img alt=""
                      src="https://s.smallpdf.com/static/cms/f/102628/x/2259d8f2a1/work-with-us.svg"></div>
                </div>
            </div>
        </section>
        <br>
        <!-- <footer class="site-footer has-top-divider">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img src="{% static 'Home/dist/images/new-removebg-preview.png' %}" alt="Logo"
                                style="width: 52%;">
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="AboutUs/about_us.html">About us</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <div class="rounded-social-buttons">
                                <a class="social-button facebook"
                                    href="https://www.facebook.com/people/Docnest-Sgp/100086323849001" target="_blank"><img
                                        src="https://img.icons8.com/fluency/48/000000/facebook-new.png" /></a>
                            </div>
                        </li>
                        <li>
                                <div class="rounded-social-buttons">
                                    <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i
                                            class="fab fa-twitter"></i></a>
                                </div>
                            </li> 
                         <li>
                            <div class="rounded-social-buttons">
                                <a class="social-button linkedin" href="https://www.linkedin.com/in/docnest-sgp-275932252/"
                                    target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin.png" /></a>
                            </div>
                        </li>
                        <li>
                            <div class="rounded-social-buttons">
                                <a class="social-button gmail" href="https://github.com/Group56914" target="_blank"><img
                                        src="https://img.icons8.com/sf-black-filled/64/000000/github.png" /></a> 
                                <a class="social-button gmail" href=https://github.com/Group56914" target="_blank"><i
                                        class="fab fa-github"></i></a> 
                                <img src="{% static 'https://img.icons8.com/sf-black-filled/64/000000/github.png' %}">
                            </div>
                        </li>
                        <li>
                            <div class="rounded-social-buttons">
                                <a class="social-button instagram"
                                    href="https://instagram.com/team_docnest?igshid=YmMyMTA2M2Y=" target="_blank"><img
                                        src="https://img.icons8.com/fluency/48/000000/instagram-new.png" /></a>
                            </div>
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2018 Switch, all rights reserved</div>
                </div>
            </div>
        </footer> -->
</body>
<script src="{% static 'Home/dist/js/main.min.js' %}"></script>
</html>